.home {
  font-family: "Poppins", sans-serif;
}

.hero {
  background-image: url('../assets/banner.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 150px 20px;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.shop-btn {
  background-color: #ff6600;
  color: white;
  border: none;
  padding: 12px 30px;
  font-size: 1.2rem;
  border-radius: 8px;
  cursor: pointer;
}

.products {
  padding: 60px 40px;
  text-align: center;
}

.product-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
