.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background-color: #222;
  color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.logo {
  display: flex;
  align-items: center;
}

.company-logo {
  height: 50px;     
  width: auto;
  object-fit: contain;
}


.nav-links {
  display: flex;
  gap: 20px;
}

.nav-btn {
  text-decoration: none;
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  transition: background-color 0.2s ease;
}

.nav-btn:hover {
  background-color: #555;
}
.header-right{
    display: flex;
    flex-direction: column;
}
.nav-btn1{
    margin-left: 10px;
    text-decoration: none;
    color: white;
    padding: 8px 16px;
    border-radius: 6px;
    transition: background-color 0.2s ease;
}
.nav-btn1:hover {
  background-color: #555;
}

.nav-btn2{
    margin-left: 29px;
    text-decoration: none;
    color: black;
    padding: 8px 16px;
    border-radius: 6px;
    transition: background-color 0.2s ease;
    width: 40%;
}

